@import '../../../../styles/tokens/_zIndex';
@import '../../../../styles/tokens/_colors';
@import '../../../../styles/_mixins';
@import '../../../../styles/_media';

.ModalBody {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: $zindex-modal;
  width: 100%;
  max-width: 600px;
  transform: translate(-50%, -50%);
}

.ModalBody_fullWidth {
  left: 0;
  right: 0;
  top: auto;
  bottom: 0;
  width: 100vw;
  height: calc(100vh - 72px);
  max-width: none;
  transform: none;
}

.ModalBody__content {
  @include scrollbar-small;

  position: relative;
  z-index: $zindex-modal;
  overflow-y: auto;
  margin: 0 8px;
  border-radius: 20px;
  padding: 20px 28px;
  max-height: calc(100vh - 92px);
  background-color: #fff;
}

.ModalBody__content_fullWidth {
  flex-grow: 1;
  margin: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 16px;
  min-height: 100%;
}

.ModalBody__title {
  margin-bottom: 24px;
  color: $color-original-blue;
}

.ModalBody__closeIcon {
  position: absolute;
  right: 8px;
  top: 8px;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}

.ModalBody__focusLock {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}